---
layout: base.njk
permalink: index.html
eleventyComputed:
  title: "{{ home.page_title }}"
  description: "{{ home.description }}"
  og:
    url: https://johannacampos.com
    description: "{{ home.share_description }}"
---
{% include "home-body.njk" %}
