---
# Test version of the home page with the animated phone-to-photos hero.
# Not linked from the site and hidden from search engines; share the URL directly.
layout: base.njk
permalink: v3/index.html
noindex: true
heroV3: true
eleventyComputed:
  title: "{{ home.page_title }}"
  description: "{{ home.description }}"
---
{% include "home-body.njk" %}
